body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#a{
    width: 500px;
    height: 500px;
}

#left{
    position: absolute;
    top: 400px;
    left: 100px;
    width: 200px;
    height: 200px;
}

#right{
    position: absolute;
    top: 400px;
    right:100px;
    width: 200px;
    height: 200px;
}