body{
    display: flex;
    justify-content: space-between;
    padding: 100px;
}


p{
    font-weight: 800;
    font-family: sans-serif;
}
.dot{
    position: relative;
    left: 72px;
    bottom: 23px;
    background-color: black;
    border-radius: 50%;
    height: 4px;
    width: 4px;
    animation-name: dota;
    animation-duration: 2s;
    animation-iteration-count: 3;
}

@keyframes dota{
    50%{
        bottom: 30px;
    }
}


.dot2{
    position: relative;
    left: 80px;
    bottom: 27px;
    background-color: black;
    border-radius: 50%;
    height: 4px;
    width: 4px;
    animation-name: dota2;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-iteration-count: 3;
}

@keyframes dota2{
    50%{
        bottom:34px;
    }
}

.dot3{
    position: relative;
    left: 89px;
    bottom: 31px;
    background-color: black;
    border-radius: 50%;
    height: 4px;
    width: 4px;
    animation-name: dota3;
    animation-duration: 2s;
    animation-iteration-count: 3;
    animation-delay: 3s;

}

@keyframes dota3{
    50%{
        bottom: 38px;
    }
}

.bar{
    background-color: rgb(255, 255, 255);
    height: 30px;
    width: 300px;
    border-radius: 30px;
    animation-name: bars;
    animation-duration: 8s;
    animation-iteration-count: 1;
}

@keyframes bars {
    10%{
        background-color: green;
        width: 30px;
    }

    100%{
        background-color: green;
        width: 305px;
    }
}

.bar-border{
    position: relative;
    width: 300px;
    height: 30px;
    border: black solid 3px;
    border-radius: 30px;
    bottom: 33px;
}

.full-bar{
    position: relative;
    bottom: 15px;
    right: 5px;
}

.yu{
    position: relative;
    padding: 20px;
    right: 850px;
    top: 300px;
    animation-name: did;
    animation-duration: 10s;
    animation-timing-function: ease-out;
    animation-delay: 8s;
    transform: scale(0);
}

@keyframes did{

    100%{
        transform: scale(10);
    }
}