body{
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 600px;
    height: 600px;
    border: 5px solid rgb(0, 0, 0);
    display:grid;
    grid-template-columns: 250px 100px 250px;
}

section{
    background-color: rgb(9, 19, 153);
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: aliceblue;
}

.Reversal-red{
    background-color: rgb(87, 31, 31);
}

.Lapse-blue{
    background-color: darkblue;
}

.Hollow-purple{
    background-color: rgb(91, 36, 119);
}
