* {
    font-family: Roboto;

}

#dd{

    border-collapse: collapse;


}
#d{
    border-collapse: collapse;
}


.gg{  
    background-color: #db821d;
    color: white;
    border: solid;
    border-radius: 2px;
    border-color: black;
    word-spacing: 40px;



}
.meore{
    color: #000000;
    border: solid;
    border-radius: 2px;
    border-color: black;
    word-spacing: 35px;

}
.pir{
    border: solid;
    border-radius: 2px;
    border-color: black;
    word-spacing: 30px;
}
.mes{
    border: solid;
    border-radius: 2px;
    border-color: black;
    word-spacing: 35px;
}
.meot{
    border: solid;
    border-radius: 2px;
    border-color: black;
    word-spacing: 35px;
}

.g{  
    background-color: #db821d;
    color: white;
    border: solid;
    border-radius: 2px;
    border-color: black;
    word-spacing: 80px;



}
.meor{
    color: #000000;
    border: solid;
    border-radius: 2px;
    border-color: black;
    word-spacing: 120px;

}
.pi{
    border: solid;
    border-radius: 2px;
    border-color: black;
    word-spacing: 120px;
}
.me{
    border: solid;
    border-radius: 2px;
    border-color: black;
    word-spacing: 120px;
}
.meo{
    border: solid;
    border-radius: 2px;
    border-color: black;
    word-spacing: 120px;
}
