@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


*{
    font-family: "Outfit", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(217, 54%, 11%);
}

.foto{
    width: 350px;
    height: 350px;
    border-radius: 10px;
}

.clasmasi{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: hsl(216, 50%, 16%);
    width: 360px;
    height: 600px;
    border-radius: 20px;
}

.fanjara{
    color: white;
    font-size: 23px;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
}

.kalamimasteri{
    font-size: 20px;
    color: hsl(215, 51%, 70%);
    font-family: "Outfit", sans-serif;
    font-weight: lighter;
}

.silurje{
    position: absolute;
    left: 770px;
    bottom: 389px;
    font-size: 20px;
    color: hsl(178, 100%, 50%);
    font-weight: bold;
}

.siqagalde{
    display: flex;

}

.samoa{
    position: relative;
    left: 250px;
}

.uagadogu{
    position: relative;
    bottom: 44px;
    left: 23px;
    color: hsl(215, 51%, 70%);
    font-size: 20px;
}